{% extends "users/layout.html" %}
{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css'%}">
 
<body>
    <form action = "{% url 'users:login' %}" method = "post">
        {% csrf_token %}

    <div class="center">
      <h1>Users Login</h1>
      <form>
    
        <div class="inputbox">
          <input type = "text" name = "username" placeholder = "Username">

        </div>
    
        <div class="inputbox">
          <input type = "password" name = "password" placeholder = "Password">
        
        </div>
    
        <div class = "invalid">
            {% if message %}
            {{ message }}
            {% endif %}
        </div>
    
        <div class="inputbox">
          <input type = "submit" value = "Login">
        </div>
      
      </form>
    </div>
</body>    
    
    
{% endblock %}