{% extends "courses/layout.html" %}

{% block body %}

    <h1>Courses {{ coursed.code }}</h1>
    <ul>
        <li>COURSE ID : {{ coursed.code }}</li>
        <li>COURSE NAME : {{ coursed.name }}</li>
        <li>COURSE SEMESTER : {{ coursed.semester }}</li>
        <li>COURSE YEAR: {{ coursed.year }}</li>
        <li>COURSE QOUTA :{{students.count}} /{{ coursed.quota }}</li>
        {% if students.count == coursed.quota %}
            <li>COURSE STATUS :  CLOSE </li>
        {% else %}
            <li>COURSE STATUS :  OPEN </li>
        {% endif %}
        <li></li>


    </ul>

    <h1>Registant</h1>

    <ul>
        {% for stu in students %}
            <li>{{stu.first_name}} {{stu.last_name}}</li>
        {% empty %}
            <li>No registant</li>
        {% endfor %}

    </ul>


    {% if students.count < coursed.quota %}
        <h1><a href = "{% url 'courses:book' coursed.id %}">Book Registrant</a></h1>
    {% endif %}

    <h1><a href = "{% url 'courses:remove' coursed.id %}">remove Registrant</a></h1>
    <p><a href = "{% url 'courses:course' coursed.id %}">Couusy</a></p>

    <p><a href="{% url 'courses:index' %}">couse list</a></p>

{% endblock %}