
.row {
       background-color: rgba(255, 255, 255, 0.4);
      border-radius: 25px;         
      margin : 10px 230px;
      padding : 10px 30px;
      opacity: 1;

    }
 h1   {

    height: 30px;
    font: normal normal bold 55px/40px Segoe UI;
    letter-spacing: 0px;
    color: #3E2C34;
    opacity: 0.5;

    }
p{
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px #0000001C;
    border-radius: 28px;
    opacity: 1;
    margin : 30px ;
    padding : 20px 20px 20px 20px;
    }

n{  text-decoration: none;
      font-size: 30px;
      color: #504A76;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;

}
.junny{
    border-radius: 25px;
    border: 4px solid #B86B77 ;
    padding: 20px,20px;
    width: 600px;
    height: 66px;
}

